/* globals.css */
@import "tailwindcss";
:root {
  --dark-green: #132115;
  --white: #ffffff;
  --light-grey: #e8e8e8;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--dark-green);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
